

<!DOCTYPE html>
<html>
  <head>
    <title>Practice1</title>
    <script type="text/javascript" src="jquery-3.5.1.min.js"></script>
    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-flex">
      <h class="title"><%=link_to("すぐデリ","/",class:"btn2")%></h>
      <h1 class="explanation"><%=link_to("すぐデリとは","/explanation",class:"btn1")%></h1>
      <h1><%=link_to("商品一覧","/dish/all",class:"btn1")%></h1>
      <h1 class="pay"><%=link_to("お支払方法","/pay",class:"btn1")%></h1>
      <h1 class="cart"><%=link_to("カート","/dishes/cart",class:"btn1")%></h1>
      </div>
      <% if flash[:notice]%>
      <p class="flash">
        <%=flash[:notice]%>
      </p>
      <%end%>
    </header>
    
    <%= yield %>
    
   
  </body>
</html>
